production:
  AWS_ACCESS_KEY_ID: "xxx"

  AWS_SECRET_ACCESS_KEY: "xxx"

  AWS_REGION: "xxx"

  AWS_BUCKET_NAME: "xxx"

  SEND_CLOUD_USER_NAME: "xxx"

  SEND_CLOUD_USER_KEY: "xxx"


development:
  AWS_ACCESS_KEY_ID: "xxx"

  AWS_SECRET_ACCESS_KEY: "xxx"

  AWS_REGION: "xxx"

  AWS_BUCKET_NAME: "xxx"

  SEND_CLOUD_USER_NAME: "xxx"

  SEND_CLOUD_USER_KEY: "xxx"